{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block body %}
    <div align="center">
        <h2>meet the team.</h2>
        <br/>
        <!--Meet the team implementation from w3schools-->
        <div class="row">
            <div class="column">
                <img src="/static/austin.jpg" alt="austin" class="pfp">
                <br/><br/>
                <div class="container">
                    <h3>Austin Li</h3>
                    <p class="title">chicago grandpa</p>
                    <p style="width: 90%">
                        volleyball and mukbang enthusiast, professional netflix binge-watcher,
                        asian american advocacy.
                    </p>
                    <p>awli@college.harvard.edu</p>
                    <!--<p><button class="button">Contact</button></p>-->
                </div>
            </div>
            <div class="column">
                <img src="/static/angie.jpg" alt="Angie" class="pfp">
                <br/><br/>
                <div class="container">
                    <h3>Angie Shin</h3>
                    <p class="title">baked potato</p>
                    <p style="width: 90%">
                        in charge of the aesthetics, enjoys ube more than
                        the average human, likes meme music unironically.
                    </p>
                    <p>angieshin@college.harvard.edu</p>
                    <!--<p><button class="button">Contact</button></p>-->
                </div>
            </div>
            <div class="column">
                <img src="/static/diana.jpg" alt="diana" class="pfp">
                <div class="container">
                    <br/>
                    <h3>Diana Zhu</h3>
                    <p class="title">green person</p>
                    <p style="width: 90%">
                        sustainability extraordinaire, ex-professional figure skater,
                        lover of adelie penguins, minnesota gal.
                    </p>
                    <p>dianazhu@college.harvard.edu</p>
                    <!--<p><button class="button">Contact</button></p>-->
                </div>
            </div>
        </div>
        <br/>
        <h2>how we got started.</h2>
        <br/>
        <p style="width: 70%">
            three rising sophomores at harvard college decided to
            make <i>paired</i> for their cs50 final project. inspired by a
            comment in a harvard college facebook group, we bring to you a
            seamless, simple experience to get your work done effectively.
        </p>
        <br/>
        <h2>how paired works.</h2>
        <br/>
        <p style="width: 70%">
            you can simply enter contact information, course department and desired course,
            and available times. you will then be greeted with a list of people
            who match your course and availability. if they approve your request to get
            in contact, our website exchanges your contact information with one
            another and leave the rest to you to set up a time to meet!
        </p>
        <br/>
    </div>
{% endblock %}