{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div align="center" class="typing">
        <br/><br/><br/><br/><br/><br/><br/><br/>
        <h2>keep yourself accountable with friends.</h2>
        </br>
        <p style="width: 70%">
            find a study partner to work with on completing problem sets, writing essays,
            studying for finals, and more! tailor to your academic schedule and strengthen
            your study environment from wherever you are.
        </p>
    </div>
{% endblock %}