{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}
    <br/>
    <h2>don't use a sensitive password.</h2>
    <br/>
    <form action="/password" method="post">
        <div class="form-group">
            <input class="form-control" name="old" placeholder="old password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="new" placeholder="new password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="re-enter password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">change</button>
    </form>
{% endblock %}
